{% extends 'layout.twig' %}

{% block title %}Panier de réservations {% endblock %}

{% block content %}
    <!-- Navigation -->
    {% include "layouts/nav.twig" %}     


    <!-- Cart Section -->
    <section class="container mx-auto px-4 py-16">
        <h1 class="text-3xl font-bold mb-8 text-center font-display">Votre panier de réservations</h1>

        {% if reservations|length == 0 %}
            <div class="bg-gray-900 rounded-lg p-6 text-center">
                <p class="text-lg text-gray-400">Votre panier est vide. Ajoutez des événements pour commencer.</p>
            </div>
        {% else %}
            <div class="space-y-6">
                {% for reservation in reservations %}
                    <div class="bg-gray-900 rounded-lg p-6 flex items-center justify-between">
                        <!-- Event Info -->
                        <div>
                            <h2 class="text-xl font-bold">{{ reservation.event.title }}</h2>
                            <p class="text-gray-400">Le {{ reservation.event.date|date('d M Y') }} à {{ reservation.event.location }}</p>
                            <p class="text-sm text-gray-400">Prix : {{ reservation.event.price }} €</p>
                        </div>

                        <!-- Actions -->
                        <div class="flex justify-center gap-4 flex-wrap">
                        {% if reservation.status != 'validé' %}
                            <form action="/checkout/{{ reservation.id }}" method="POST">
                                <button class="bg-custom-green text-white px-4 py-2 rounded-lg hover:bg-green-700 transition-colors duration-300" type="submit" id="checkout-button">Checkout</button>
                            </form>
                           <form action="/reservation/cancel/{{ reservation.id }}" method="POST">
                                <button class="bg-custom-red text-white px-4 py-2 rounded-lg hover:bg-red-700 transition-colors duration-300" type="submit" id="cancel-button">Annuler</button>
                            </form>
                        {% else %}
                        {# /cart/ticket/{id} #}
                        <a href="/cart/ticket/{{ reservation.id }}"   class="bg-custom-purple text-white px-4 py-2 rounded-lg hover:bg-purple-700 transition-colors duration-300" 
                        id="get-ticket-button" >Ticket</a>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}